<h1>Edit Animal</h1>
<p>
  <%= form_for @animal do |f| %>
    <p>
      <%= f.label :name, "Name" %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</p>
